

<div class="list">
  <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab waves-effect waves-pink"><a href="">프로필 메인</a></li>
    <li class="tab waves-effect waves-pink"><a href="">앨범</a></li>
    <li class="tab waves-effect waves-pink"><%= current_user.user_name %></li>
    <li class="tab waves-effect waves-pink"><a href="">아카이브</a></li>
    <li class="tab waves-effect waves-pink"><a href="">태그됨</a></li>
  </ul>
</div>
